<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ page.title }}</title>
  <meta content="{{ page.description }}" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ assets/img/favicon.png | relative_url }}" rel="icon">
  <link href="{{ assets/img/apple-touch-icon.png | relative_url }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ assets/vendor/aos/aos.css | relative_url }}" rel="stylesheet">
  <link href="{{ assets/vendor/bootstrap/css/bootstrap.min.css | relative_url }}" rel="stylesheet">
  <link href="{{ assets/vendor/bootstrap-icons/bootstrap-icons.css | relative_url }}" rel="stylesheet">
  <link href="{{ assets/vendor/boxicons/css/boxicons.min.css | relative_url }}" rel="stylesheet">
  <link href="{{ assets/vendor/glightbox/css/glightbox.min.css | relative_url }}" rel="stylesheet">
  <link href="{{ assets/vendor/swiper/swiper-bundle.min.css | relative_url }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ assets/css/style.css | relative_url }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v4.10.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>