<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{{ site.sessoes.experiencia.titulo }}</h2>
      <p>{{ site.sessoes.experiencia.descricao }}</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumário</h3>
        <div class="resume-item pb-0">
          <h4>{{ site.sessoes.experiencia.tituloSumario }}</h4>
          <p><em>{{ site.sessoes.experiencia.descricaoSumario }}</em></p>
          <ul>
            {% assign items = site.sessoes.experiencia.detalheSumario %}
            {% for item in items %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        {% assign items = site.sessoes.experiencia.educacao %}
        {% for item in items %}
          <div class="resume-item">
            <h4>{{ item.titulo }}</h4>
            <h5>{{ item.ano }}</h5>
            <p><em>{{ item.instituicao }}</em></p>
            <p>{{ item.descricao }}</p>
          </div>
        {% endfor %}
      </div>

      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        {% assign items = site.sessoes.experiencia.historicoProfissional %}
        {% for item in items %}
          <div class="resume-item">
            <h4>{{ item.titulo }}</h4>
            <h5>{{ item.ano }}</h5>
            <p><em>{{ item.instituicao }}</em></p>
            <ul>
              {% assign atividades = item.atividades %}
              {% for atividade in atividades %}
                <li>{{ atividade }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->