<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>{{ site.author.name }}</h1>
    <p>Eu sou <span class="typed" 
      data-typed-items="{{ site.author.typeItems }}"></span>
    </p>
    <div class="social-links">
      <a href="{{ site.author.twitter }}" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="{{ site.author.facebook }}" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="{{ site.author.instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="{{ site.author.linkedin }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</section><!-- End Hero -->